- ### SQL (Structured Query Language)

1. **Structure**

 Database(schema) - table
 
 Column & row - datatype

 Index & primary key & foreign keys

---

 2. **Datetype**

 Character: CHAR[(length)], NCHAR[(length)], NVARCHAR[(length)], TEXT[(length)]

 Value: BIT[(length)], DECIMAL[(length)], FLOAT[(length)], INT[(length)], REAL[(length)], SMALLINT[(length)], TINYINT[(length)]

 Date: DATE, DATETIME(TIMESTAMP), SAMLLDATETEIME, TIME

 Binary: BINARY, LONG RAW, RAW, VARBINARY

---

 3. **Syntax**

[database and tables](#database-and-tables)

[create drop tables](#create--drop-tables)

[constraint](#constraint)

[modify row data](#modify-row-data)

[modify column data](#modify-column-data)

[select data](#select-data)

[filtering and conditions](#filtering-and-conditions)

[aggregate functions](#aggregate-functions)

[aggregation by group](#aggregation-by-group)

[joins](#joins)

[indexn & query](#index--query)

[primary key & foreign key](#primary-key--foreign-key)

[datetime](#datetime)

[transaction](#transaction)

[view](#view)

[procedure](#procedure)

[function](#function)

---

 4. **Punctuation**

 ',' between lines within the block

 ';' at the end of the block

---

 5. **Terminology**
 
 '[]' for optional, '|' for or

---

- ### Database and tables

**show all databases**

```sql
SHOW DATABASES;
```
**select specific database**

```sql
USE database_name;
```

**current database**

```sql
SELECT DATABASE();
```

**show all tables**

```sql
SHOW TABLES;
```

---

- ### Create / Drop tables

**create table**

```sql
CREATE TABLE table_name(
    column1 data_type1 [constraint1],
    column2 data_type2 [constraint2],
    ...
    [table_constraint]
);
```

**drop table**

```sql
DROP TABLE table_name;
```

---

- ### Constraint

**primary key**

```sql
PRIMARY KEY     --unique & not null
```

**foreign key**

```sql
FOREIGN KEY (id) REFERENCES parent_table(id)
```

**(not) null**

```sql
[NOT] NULL
```

**unique**

```sql
UNIQUE
```

**check**

```sql
CHECK(condition)
```
**default value**

```sql
DEFAULT 'default_value'
```

---

- ### Modify row data

**insert a row**
```sql
INSERT INTO table_name(col1,col2) VALUES ('value1', 'value2');
```

**insert multiple rows**

```sql
INSERT INTO table_name(col1,col2) VALUES
('value1', 'value2'),
('value3', 'value4');
```

**update rows**

```sql
UPDATE table_name
SET col1='new_value'
WHERE condition;
```

**delete rows**
```sql
DELETE FROM table_name
WHERE condition;
```

---

- ### Modify column data

**alter table - add / drop / modify / rename**

```sql
ALTER TABLE table_name
ADD COLUMN column_name data_type,
DROP COLUMN column_name,
MODLIFY column_name new_data_type,
RENAME column_name TO new_column_name;
```

---

- ### Select data

**Select all**

```sql
SELECT * FROM table_name 
[WHERE condition]
[ORDER BY col1 [ASC|DESC]], --ASC by default
[ORDER BY col2 [ASC|DESC] [LIMIET n]];  --LIMIT: fetch top n rows
```

**Select columns**

```sql
SELECT col1, col2 FROM table_name
[WHERE condition]
[ORDER BY col1 [ASC|DESC]],
[ORDER BY col2 [ASC|DESC]];
```

**Select distinct values from column**

```sql
SELECT DISTINCT col1 FROM table_name
[WHERE condition]
[ORDER BY col1 [ASC|DESC]];
```

---

- ### Filtering and conditions

**where**

```sql
WHERE col1 = 'value'
WHERE col1 != 'value'   --not equal
WHERE col1 > num_value1 AND col1 < num_value2
WHERE col1 IN ('char1','char2' ,'char3')
WHERE col1 LIKE 'A%'    --starts with A
WHERE col1 IS [NOT] NULL
```

**case**

```sql
SELECT col1, 
       col2,
       CASE
           WHEN condition1 THEN 'result1'
           WHEN condition2 THEN 'result2'
           ELSE 'default_result'
       END [AS result_name]
FROM table_name           
```

```SQL
ORDER BY
    CASE
        WHEN condition1 THEN 'result1'
        WHEN condition2 THEN 'result2'
        ELSE 'default_result'
    END [AS result_name]; 
```

---

- ### Aggregate functions

**count**
```sql
SELECT COUNT(*) FROM table_name;
```

**average**
```sql
SELECT AVG(col) FROM table_name;
```

**max and min**
```sql
SELECT MAX(col), MIN(col) FROM table_name;
```

**sum**
```sql
SELECT SUM(col) FROM table_name;
```

---

- ### Aggregation by group

**group by & having**

```sql
SELECT column1, AGG_FUNC(column2) [AS agg_name] FROM table_name [WHERE condition]
GROUP BY column1 [HAVING condition_on_aggregations];
```

---

- ### Joins

**inner join with specific column**

```sql
SELECT table1.col1, table2.col2 
FROM table1   --keep specific common columns from both table
INNER JOIN table2
ON table1.common_column=table2.common_column; 

---------------equivalently using table aliases-----------------

SELECT t1.col1 AS table1.col1, t2.col2 AS table2.col2 
FROM table1 t1  --keep specific common columns from both table
INNER JOIN table2 t2
ON t1.common_column=t2.common_column; 
```

**inner join with all column**

```sql
SELECT * 
FROM table1   --keep all common columns from both table
INNER JOIN table2
ON table1.common_column=table2.common_column;     
```

**left join**

```sql
SELECT table1.col1, table1.col2 
FROM table1   --keep all sepecific columns from the left table
LEFT JOIN table2   --appear null if no match from the right
ON table1.common_column=table2.common_column;     
```

**right join**

```sql
SELECT table1.col1, table1.col2
FROM table2   --keep all sepecific columns from the right table
RIGHT JOIN table1   --appear null if no match from the left
ON table1.common_column=table2.common_column;     
```
**union join**

```sql
{LEFT JOIN block}
UNION
{RIGHT JOIN block}
```

---

- ### Index & query

**create index**

```sql
CREATE INDEX idx_name ON table_name(column_name);
```
**query**

```sql
SELECT * FROM table_name
WHERE column_name = 'element_name'
```

**show index**

```sql
SHOW INDEX FROM table_name;
```
**drop index**

```sql
DROP INDEX idx_name ON table_name;
```

---

- ### Datetime

**interval**

```sql
SELECT NOW() + INTERVAL 7 DAY AS next_week;
```

```sql
SELECT NOW() + INTERVAL 1 HOUR AS one_hour_ago;
```

**difference in days**

```sql
SELECT DATEDIFF('2025-12-31', '2025-08-01') AS days_difference;
```

**difference in seconds**

```sql
SELECT TIMESTAMPDIFF(SECOND, '2025-08-01 10:00:00', '2025-08-02 12:30:00') 
AS seconds_diff;
```

---

- ### Transaction

**transaction**

```sql
START TRANSACTION;      --MYSQL automatically commit by default
UPDATE table_name SET x=x+n WHERE condition1; 
UPDATE table_name SET x=x-m WHERE condition2;
COMMIT;
```

**rollback**

```sql
ROLLBACK;
```

---

- ### View

**create view**

```sql
CREATE VIEW view_name AS  --virtual table without storing data
SELECT column1, column2 FROM table_name
WHERE condition;
```


**look up table (and view)**

```sql
SHOW FULL TABLES IN tysql [WHERE TABLE_TYPE = 'VIEW'];
```

**delete view**

```sql
DROP VIEW view_name;
```

---

- ### Procedure

**create procedure**

```sql
CREATE PROCEDUREE proceduree_name([IN param1 INT], [OUT result INT])    --like function
BEGIN
    XXX --sql statement
END;
```

**call procedure**

```sql
CALL proceduree_name(input1);
```

---

- ### Function

**built-in function**

```sql
SELECT (5+2*3)%3/2 AS expression
```

**user-defined function**

```sql
CREATE FUNCTION function_name(parameter)
RETURNS data_type DETERMINISTIC
BEGIN
    XXX --function body
    RETURN value;
END;
```

**calling function**

```sql
SELECT function_name(input) [AS func]
```